@import "partials/base";

.cf:after {
  content: "";
  display: block;
  clear: both;
}

body {
  background-color: pink;
  // max-width: 1200px;
}

.main {
  display: flex;
  flex: auto;
  width: 100%;
}

  .trips {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    flex-flow: row wrap;
    // flex-shrink: 1;
  }

  .trips > * {
  	flex: auto;
  	width: 800px;
  }
  .trips > * img {
  	width: 100%;
  	height: auto;
  }

  // #raft, #backpack, #photo {
  //   display: flex;
  //   flex-grow: 1;
  //   justify-content: space-between;
  // }
  //
  // #camp, #canoe, #custom {
  //   display: flex;
  //   flex-grow: 3;
  //   justify-content: space-between;
  // }
